body{
    background-color: rgb(1, 15, 31);
    color:rgb(253, 247, 247);
    font-family:cursive;
    font-size: 16px;
    font-weight:large;
    line-height:1.63em;
    margin:3;
}
body h1{
    font-family: cursive;
    font-weight:2000px;
    font-size: 60px;
    font-style:italic;
    text-decoration:wavy rgb(245, 243, 243);
    text-transform:inherit;
    letter: spacing 0.1em;
    word-spacing: 0.5em;
    text-align: center;
}


